entrypoint = "model/predictor.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["bash", "cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "portaudio", "qhull", "tcl", "tk"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "model/predictor.py"]
deploymentTarget = "cloudrun"
