# Core data packages
pandas
numpy
scikit-learn

# Model saving/loading
joblib

# Backend / Dashboard
fastapi
uvicorn
streamlit

# Visualization libraries
matplotlib
seaborn
plotly

# External APIs
requests

# Environment variables
python-dotenv

# OpenAI and LangChain
openai
langchain==0.1.13
langchain-openai==0.0.5

# Speech recognition
SpeechRecognition
pyaudio
pyttsx3

